td {
  border: 10px solid black;
}
table {
  width: 500px;
  height: 600px;
  border-collapse: collapse;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
