* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/bg.png") fixed no-repeat center center;
  font-family: "Helvetica Neue", Arial;
  background-size: cover;
}
@font-face {
  font-family: "Helvetica Neue";
  src:url("../fonts/helveticaneuecyr-thin.otf");
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header li {
  list-style: none;
  display: inline-block;
  margin: 0 1px;
  font-size: 14px;
  line-height: 40px;
}
.header ul {
  width: 100%;
  text-align: right;
  background-color: #085292;
}
.header li:hover {
  background-color: #4eabda;
}
.header li:nth-child(6):hover {
    background-color: #085292;
}
.header a:hover {
  color: white;
}
.header a {
  text-decoration: none;
  color: #60b5ed;
  padding: 0 15px;
  display: block;
}
.link a {
  display: inline-block;
  padding: 0 5px;
}
.link {
  font-size: 14px;
  color: white;
}
.link a {
  color: white;
  text-decoration: underline;
}
.link a:hover {
  color: white;
}
.border {
  border-right: 1px solid #4eabda;
}
.image {
  background: url("../images/flag.png") no-repeat left;
  padding: 0 0 0 25px;
  color: white;
}

.header li:nth-child(7):hover {
  background: linear-gradient(to bottom, #50afdc, #2e7ac4);
}

.bottom {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-size: 24px;
  line-height: 60px;
  border-bottom: 1px solid #bfc5bb;
}
.form {
  display: block;
  width: 560px;
  padding: 5px 5px;
  background-color: rgba(14, 14, 14, 0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -290px 0 0 -270px;
  text-align: center;
}

.ouText {
  position: relative;
  text-align: center;
  padding: 10px 0;
}
.ouText p {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: white;
  font-size: 16px;
}
.ouText::before {
  border-top: 1px solid #000;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin-right: 15px;
}
.ouText::after {
  border-top: 1px solid #000;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin-left: 15px;
}

input {
  width: 280px;
  height: 35px;
  background-color: #0f0f0f;
  border: none;
  padding-left: 15px;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 10px;
}
input:focus {
  background-color: #1b5288;
  border: none;
}
#checkbox {
  margin-left: 20px;
  width: 20px;
}
span {
  color: white;
  display: inline-block;
  position: relative;
  top: -10px;
}
#button {
  width: 150px;
  height: 35px;
  background-color: #3281c7;
  background: linear-gradient(to bottom, #67c6e6, #2e7ac4);
  border-radius: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
.otherText {
  color: white;
  font-size: 11px;
  padding: 10px 0;
}

.fb {
  display: inline-block;
  background-color: #394f8b;
  border-radius: 5px;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 70px;
}
.fb p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 60px 0 40px;
  font-size: 16px;
}
.fb::before {
  content: "f";
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  border-right: 2px groove #4c68a9;
  padding: 5px 15px;
}
.fb::after {
  content: "";
  display: block;
  background: url("../images/strelka.png") no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 8px;
}
