body {
  background: #f9f9f9;
  font-family: "Open Sans";
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/2211.ttf");
}
.wrapper {
  width: 1200px;
  padding: 0 auto;
  margin: 0 auto;
  background: #fff;
}
.fitness {
  margin-top: 35px;
  margin-left: 80px;
  margin-bottom: 25px;
}

.bike img {
  width:677px;
  height: 400px;
  margin: 350px -260px;
  position: relative;
  left: 335px;
  bottom: 308px;
  border: 1px solid lightgrey;
  align: top;
}
.bike p {
  margin-left: 450px;
  margin-top: -630px;
  color: #2c2c2c;
  font-size: 13px;
  line-height: 21px;
}
.header li {
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  margin: 0 1px;
}
.header ul {
  font-size: 0;
  line-height: 0;
  background-color: #555555;
  margin-left: 90px;
  margin-right: 50px;
  border-right: none;
  width: 967px;
}

.header li:last-child {
  margin-left: 40px;
}
.header li:hover {
  margin: 0;
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
  background-color: #393939;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: block;
  padding: 0 30px;
}
#sidebar {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  width: 240px;
}
#sidebar li {
  list-style: none;
  border: 1px solid lightgrey;
  line-height: 40px;
}
#sidebar a {
  display: block;
  font-size: 13px;
  color: #656363;
  padding-left: 25px;
  text-decoration: none;
}
#sidebar li:hover {
  background-color: #f9f9f9;
  color: #2c2c2c;
}
#sidebar a:hover {
  padding-left: 35px;
}
.content::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.footer::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.footer li{
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  padding: 5px 50px;
}
.footer ul {
  font-size:0;
  line-height: 0;
  background-color: #e1e1e1;
  width: 967px;
  margin-left: 90px;
  margin-right: 50px;
  margin-top: 40px;
  float: left;
}
.footer:after {
 content: '';
 clear: both;
 display: block;
}
.footer a {
  color: #2c2c2c;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.copyright {
  float:right;
  color: #2c2c2c;
  font-size: 13px;
  margin-right: 130px;
  margin-top: -35px;
}
