* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  background-color: #0c749f;
  font-family: Tahoma;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.logo {
  float: left;
  position: relative;
}
.logo img {
  margin-left: 10px;
  margin-top: 2px;
  position: relative;
}
.logo p {
  color: #128aa7;
  font-size: 12px;
  position: absolute;
  margin-left: 100px;
  margin-top: -70px;
}

.header-right {
  float: right;
}
.header-right {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.contacts {
  float: right;
  color: #128aa7;
  font-size: 12px;
  line-height: 20px;
}

.countries {
  float: right;
  color: #128aa7;
  font-size: 10px;
  clear: both;
}
.countries li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.countries a {
  text-align: center;
  color: #128aa7;
}

.block {
  background-color: #fff;
}
.image {
  width: 1000px;
  height: 237px;
}
.main-menu {
  background-color: #323232;
}
.main-menu::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main-menu > li {
  float: left;
  list-style: none;
  font-size: 14px;
}
.main-menu li {
  list-style: none;
  position: relative;
}
.main-menu a {
  display: block;
  padding: 9px 38px;
  color: white;
  text-decoration: none;
}
.submenu {
  background-color: #323232;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 10px;
}
.submenu li a {
  padding: 9px;
}
.main-menu li:hover .submenu {
  display: block;
}
li.flag a:before {
  content: "";
  display: block;
  background: url("../images/flag.png") no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.fon {
  width: 1000px;
  overflow: hidden;
}
.left-column {
  width: 190px;
  float: left;
  font-size: 14px;
  line-height: 25px;
  border-right: 1px solid #c7cacf;
  color: #424c43;
  padding: 5px 20px;
  background-color: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.center-column {
  width: 580px;
  float: left;
  background-color: #fff;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.right-column {
  width: 190px;
  float: right;
  font-size: 14px;
  line-height: 25px;
  border-left: 1px solid #c7cacf;
  color: #424c43;
  padding: 5px 20px;
  background-color: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
span {
  font-weight: bold;
  align: center;
  font-size: 18px;
  padding: 35px;
}

.footer {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}
